body
{
	background-color:#FFFFFF;
	font-family: Arial, serif;
	height:100%;
}


h1,h2,h3
{
	color:#383838; 
	font-family:Arial, serif;
}

.center
{
	text-align:center;
}

.right
{
	text-align:right;
}

.left
{
	text-align:left;
}

div#wrapper
{
	position:absolute;
	top:0;
	bottom:0;
	left:0;
	right:0;
	padding-top:40px;
	padding-bottom:40px;
	overflow-y:scroll;
	background:url("../images/country-side.jpg") no-repeat 0;
}

div#page
{
	display:block;
	width:800px;
	position:relative;
	margin:auto;
	border:solid 1px #808080;
	border-radius:4px;
	clear:both;
	background:#FFFFFF;
}

div#content
{
	display:block;
	clear:both;
}

div#wrapper div#video-container
{
	width:800px; 
	height:500px;
}

video
{
	width:670px; 
	height:470px;
}

#header
{
	display:block;
	height:152px;
	clear:both;
	overflow:visible;
}

div#header div#logo
{
	display:block;
	padding-left:54px;
}

div#header div#logo a
{
	display:block;
	float:left;
	padding-top:150px;
	background:transparent url('../images/Feifei_logo3.png') no-repeat 0px 18px;
	overflow:hidden;
	width:300px;
	height:0px;
}

div#header div.menu-container
{
	display:block;
	width:400px;
	height:20px;
	float:right;
	padding-top:30px;
}

ul.menu
{
	text-align:right;
	padding-right:55px;
}

ul.menu li
{
	display:inline;
	list-style-type:none;
	margin-right:12px;
}

ul.menu li a 
{
	font-size: 15px;
	font-family: Arial;
	font-weight: bold;
	text-transform: uppercase;
	color: #ABABAB;
}

div#photo-container
{
	width:683px;
	height:700px;
	padding-top:34px;
	margin-left:65px;
}

.photo-wrapper
{
	margin: 3px 6px 3px 0;
	padding: 1px;
	height: 120px;
	overflow: hidden;
	border: 1px solid #FFF;
	float: left;
	position: relative;
}

.photo-list img
{
	display: block;
	overflow: hidden;
	background-repeat: no-repeat;
	width: 160px;
	height: 120px;
	background-position: center
}

.photo-list .picture
{
	display: block;
	overflow: hidden;
	width: 160px;
	height: 120px;
}

div#slides
{
	position:relative;
	width:800px;
	height:500px;
	padding-top:34px;
	z-index:100;
}

div#slides div.slides_container
{
	display:block;
	position:relative;
	width:800px;
	height:500px;
	overflow:hidden;
}

div.slides_container div.slide
{
	width:800px;
	height:500px;	
	position: absolute;
	display:none;
	z-index:0;
}

.pagination
{
	width:100px;
	margin:25px auto 0 auto;
}

.pagination li 
{
	float: left;
	margin: 0 1px;
	list-style: none;
	display: list-item;
}

.pagination li a 
{
	display: block;
	width: 12px;
	height: 0;
	padding-top: 10px;
	background-image: url("../images/pagination.png");
	background-position: 0 0;
	float: left;
	overflow: hidden;
}

a:hover,a:active 
{
	color:#599100;
}

.pagination li.current a 
{
	background-position: 0 -12px;
}